<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>

    <%- include('../partials/styles') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <section class="registration">
        <form id="registration-form" class="registration-form">
          <h2>Register</h2>
          <div class="form-group">
            <input
              type="text"
              id="firstname"
              name="firstname"
              placeholder="First name"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              id="lastname"
              name="lastname"
              placeholder="Last name"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="email"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm password"
              required
            />
          </div>

          <div class="form-group">
            <input type="submit" id="register" name="register" />
          </div>
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
    <script src="/auth/registration.js"></script>
  </body>
</html>
