<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>

  <%- include('partials/styles') %>
</head>
<body
  <%- include('partials/header') %>
  <h1>Users </h1>
  <img src="/picsum.jpg" alt="picsum">
  
  <% if (users.length === 0) { %>
    <p>No users found.</p>
  <% } else { %>
    <ul>
      <% users.forEach(user => { %>
        <li><%= user.name %>: <%= user.age %></li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>