:root {
  /* paddings */
  --padding-very-large: 32px;
  --padding-large: 24px;
  --padding-medium: 16px;
  --padding-small: 8px;
  --padding-very-small: 4px;

  /* colors */
  --background-color: #f4f4f4;
  --backgound-color-dark: #333;
}

div,
h1,
h2,
h3,
nav,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--backgound-color-dark);
}

.navbar {
  background-color: var(--backgound-color-dark);
  color: white;
  padding: var(--padding-very-large);
}

.navbar h1 {
  margin-bottom: var(--padding-large);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: var(--padding-medium);
}

.navbar a:hover {
  color: #999;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
}

main {
  padding-left: var(--padding-very-large);
  padding-right: var(--padding-very-large);
  padding-top: var(--padding-medium);
}

main section.registration,
main section.login {
  margin-top: var(--padding-very-large);
  margin-bottom: var(--padding-medium);
}

form#registration-form h2,
form#login-form h2 {
  margin-top: var(--padding-medium);
  margin-bottom: var(--padding-medium);
}

form#registration-form,
form#login-form,
form#todo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#todo-form {
  margin-top: var(--padding-medium);
  margin-bottom: var(--padding-medium);
}

div.form-group {
  flex: 1;
  width: 512px;
  margin-bottom: var(--padding-small);
  padding: var(--padding-very-small);
}
div.form-group input[type="submit"] {
  background-color: var(--backgound-color-dark);
  color: white;
  border: none;
  padding: var(--padding-medium);
  border-radius: 10px;
  cursor: pointer;
}

div.form-group input[type="submit"]:hover {
  background-color: #555;
}

div.form-group input[type="submit"]:disabled {
  background-color: #999;
}

input,
textarea {
  width: 100%;
  padding: var(--padding-medium);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-medium);
  margin-top: var(--padding-medium);
  margin-bottom: var(--padding-medium);
  padding-left: calc(var(--padding-very-large) * 4);
  padding-right: calc(var(--padding-very-large) * 4);
}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.open-modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  background-color: var(--backgound-color-dark);
}

/* grid of todos */
section.todos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--padding-medium);
  padding-left: calc(var(--padding-very-large) * 4);
  padding-right: calc(var(--padding-very-large) * 4);
}

/* todo card */
.todo-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: var(--padding-medium);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.todo-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.todo-card h2 {
  margin-bottom: var(--padding-medium);
}

.todo-controls {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.todo-controls .title {
  flex-grow: 1;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 16px; /* Adjust icon size */
  transition: background-color 0.2s;
  margin: var(--padding-very-small);
}
